@model Rentilla.Models.Offer


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Offer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UID)
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allowance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowance)
        </dd>

        <dt>
            Description of the Allowance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AllowanceDescription)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>Username</th>
            <th>Titel</th>
            <th>Allowance</th>
            <th>Allowance Description</th>
        </tr>

        @foreach (var item in Model.DemandsToOffer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Allowance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllowanceDescription)
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
