@model IEnumerable<Rentilla.Models.DemandToOff>

@{
    ViewBag.Title = "Index";
}

<h2>Offer</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            Username
        </dt>

        <dd>
            @ViewBag.Username
        </dd>

        <dt>
            Titel
        </dt>

        <dd>
            @ViewBag.Offer.Titel
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @ViewBag.Offer.Description
        </dd>

        <dt>
            Allowance
        </dt>

        <dd>
            @ViewBag.Offer.Allowance
        </dd>

        <dt>
            Allowance Description
        </dt>

        <dd>
            @ViewBag.Offer.AllowanceDescription
        </dd>

    </dl>

</div>
<hr />
<h4>Demands for this offer</h4>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.OfferId })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AllowanceDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allowance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowanceDescription)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
