@model IEnumerable<Rentilla.Models.DemandToOff>

@{
    ViewBag.Title = "Index";
}

<h2>Offer n°@ViewBag.OfferId</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Username
        </dt>

        <dd>
            @ViewBag.Username
        </dd>

        <dt>
            Title
        </dt>

        <dd>
            @ViewBag.Offer.Titel
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @ViewBag.Offer.Description
        </dd>

        <dt>
            Allowance
        </dt>

        <dd>
            @ViewBag.Offer.Allowance
        </dd>

        <dt>
            Allowance Description
        </dt>

        <dd>
            @ViewBag.Offer.AllowanceDescription
        </dd>

    </dl>

</div>
<hr />
<div class="row">
    <div class="col-md-3">
        <h3>
            <a href="">Demands for this offer</a>
            @Html.ActionLink(" ", "Create", "DemandToOffs", new { id = ViewBag.OfferId }, new { @class = "fa fa-plus-square-o fa-3", @title = "Create offer" })
        </h3>
    </div>
</div>
<table class="table table-bordered">
    <tr>
        <th>
            State
        </th>
        <th>
            Start
        </th>
        <th>
            End
        </th>
        <th>
            Username
        </th>
        <th>
            Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowance)
        </th>
        <th>
            Description of the allowance
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Accepted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Allowance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllowanceDescription)
            </td>
            <td>
                @if (User.IsInRole("administrator"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID })
                    @Html.ActionLink(" Delete", "Delete", new { id = item.ID })
                }
            </td>
        </tr>
    }

</table>
