@model IEnumerable<Rentilla.Models.Demand>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-3">
        <h2>
            <a href="">Demands</a>
            @Html.ActionLink(" ", "Create", "Demands", null, new { @class = "fa fa-plus-square-o fa-3", @title = "Create demand" })
        </h2>
    </div>
</div>
<hr />
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Accepted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateStart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateEnd)
        </th>
        <th>
            Username
        </th>
        <th>
            Title
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowance)
        </th>
        <th>
            Description of the allowance
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Accepted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateStart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateEnd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allowance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AllowanceDescription)
        </td>
        <td>
            @Html.ActionLink("Detail", "../OfferToDems/Index", new { id = item.ID })
        </td>
    </tr>
}

</table>
