@{
    ViewBag.Title = "Create";
}

<h2>Create Role</h2>
@Html.ActionLink("List Roles", "Index") | @Html.ActionLink("Manage User Role", "ManageUserRoles")
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-horizontal">
        <div class="form-group">
            @Html.Label("Role name", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("RoleName", null, new { @class = "form-control" })
            </div>
        </div>
    </div>
        <button type="submit" value="Create" class="btn btn-primary hvr-icon-wobble-horizontal" id="buttonHover">Create</button>
}
